$primarycolor: #000;

$header1color: #FFf;
$header2color: #FFC178;
$paracolor: #fff;
$buttoncolor:#FBD784;

// font size
$header1font: 88px;
$header2font: 66px;
$header3font: 18px;
$parafont: 14px;
$buttonfont: 18px;

//gapping
$sectiongap:120px;
$subsectiongap:60px;
$innergap:30px;


//font family variable
$opensans:'Open Sans', sans-serif;;
$poppines:'Poppins', sans-serif;