@mixin section($wight,$height,$background) {
    width: $wight;
    height: $height;
    background: $background;
}

@mixin fontsize($fontsize,$fontfamilt,$color,$fontweight) {
    font-size: $fontsize;
    font-family: $fontfamilt;
    color: $color;
    font-weight: $fontweight;
}

@mixin button($color,$buttonsize,$buttonweight,$buttonfont) {
    color: $color;
    font-size: $buttonsize;
    font-weight: $buttonweight;
    font-family: $buttonfont;
}
@mixin exlarge() {
    @media (min-width:1201px) and (max-width:1600px) {
        @content
    }  
};
@mixin large() {
    @media (min-width:991px) and (max-width:1200px) {
        @content
    }  
};

@mixin medium {
    @media (min-width:768px) and (max-width:990px) {
        @content
    }
};
@mixin small {
    @media (min-width:576px) and (max-width:767px) {
        @content
    }
};
@mixin exsmall {
    @media (min-width:320px) and (max-width:575px) {
        @content
    }
};